*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    background-color: #F3F5FC;
}

.header{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 50px;
    z-index: 100;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo .title {
    color: #072B61;
}

.main{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    width: 90%;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.block{
    width: 100%;
    height: 100%;
}

.container-area{
    width: 100%;
    background-color: #052051;
}

.container div:first-child{
    border-right: 1px solid #CED4DA;
}

.container div{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    height: 100%;
}

.txtarea{
    border: none;
    width: 100%;
    height: 400px;
    font-size: 20px;
    padding: 20px;
    color: #052051;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.txtarea:focus{
    outline: none !important;
}

.control-panel{
    width: 90%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary{
    background-color: #0A3871;
    border: none;
    color: white;
    
}

.btn-alt-primary{
    border: 2px solid #0A3871;
    color: #0A3871;
    background: none;
}

.btn-primary:hover,
.btn-alt-primary:hover{
    width: 155px;
    height: 43px;
    transition: 0.2s;
}

.btn-copy{
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    color: #0A3871;
    cursor: pointer;
    border-radius:20px;
    margin-left: 15px;
    background-color: #E9ECF8;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn-copy:hover{
    transition: 0.2s;
    background-color: #d7dae7;
}

.block{
    position: relative;
}

.message{
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: grey;
    font-size: 13px;
    font-weight: 700;
}

.txt-default{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    color: gray;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.txt-default span{
    font-size: 14px;
    font-weight: 500;
}

.hidden{
    display: none;
}



@media (max-width: 772px) {
    .container{
        height: 70vh;
        flex-direction: column;
    }

    .container div:first-child{
        border: none;
        border-bottom: 1px solid #CED4DA;
    }
    
    .container div{
        width: 100%;
        height: 50%;
    }

    .txtarea{
        font-size: 16px;
    }

    .control-panel{
        margin-top: 30px;
    }

    .txt-default{
        top: 30%;
        font-size: 14px;
    }
    
    .txt-default span{
        font-size: 11px;
    }

    .txt-default svg{
        display: none;
    }
    .message{
        font-size: 11px;
    }

    .btn-copy{
        padding: 3px 8px;
    }
}


